{% load static %}

<!DOCTYPE html>
<html data-theme="light">

<head>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://kit.fontawesome.com/43f7f6d8ee.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@2.40.1/dist/full.css" rel="stylesheet" type="text/css" />
  <meta charset="utf-8">
  <title>Todos App</title>
</head>

<body class="prose bg-base-300 pb-8">
  <div class="navbar bg-base-100 mb-4">
    <a class="btn btn-ghost normal-case text-xl">My Todos</a>
  </div>
  <div id='app'>
    <div class="flex flex-col gap-4 items-center w-full">
      <div v-for="todo in todos" class="card w-96 bg-base-100 shadow-xl hover:shadow-2xl transition-all">
        <div class="card-body">
          <div class="flex m-4 justify-center items-center">
            <i v-if="todo.state !== 'complete'" class="fa-solid fa-circle-xmark text-8xl text-accent"></i>
            <i v-else class="fa-solid fa-circle-check text-8xl"></i>
          </div>
          <h2 class="card-title">[% todo.task %]</h2>
          <div class="card-actions justify-end">
            <button class="btn btn-primary" @click="toggleComplete(todo)">[%
              todo.state
              !== 'complete' ? 'Mark Complete' : 'Undo' %]</button>
          </div>
        </div>
      </div>
    </div>

  </div>
  <script src="{% static 'frontend/app.js' %}"></script>
</body>

</html>